<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Sales Exec Iphone Platform</title>
  <link rel="stylesheet" href="/main.css">
</head>
<header>
  <nav></nav>
</header>
<body>
  <section class="main">
    <h1>Sales Exec Iphone Platform</h1>
    <%- body %>
  </section>
</body>
</html>