<h1>Location Page</h1>

<button id="locationButton">Update Location</button>

<p id="location"></p>

<script>
  var testUserId = "<%= user_id %>";
</script>

<script type="text/javascript" src="/location.js"></script>